* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "jakartasans-negrita";
    src: url(../font/static/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: "jakartasans-regular";
    src: url(../font/static/PlusJakartaSans-Regular.ttf);
}

/* IMPORTS */

    /*hmtls*/
    @import "layout/home";
    @import "layout/productos";
    @import "layout/quienessomos";
    @import "layout/contacto";

    /*Components*/
    @import "components/header";
    @import "components/footer";

    /*Base-Extend-Mixin*/
    @import "base/map";
    @import "base/extends";
    @import "base/mixin";






