* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "jakartasans-negrita";
    src: url(../font/static/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: "jakartasans-regular";
    src: url(../font/static/PlusJakartaSans-Regular.ttf);
}
.foto-inicio{width: 100%;}

/* NAVBAR */

@import "header";
@import "footer";

/*INDEX*/
section {
    .fondo {
        height: fit-content;
        width: 100%;
    }
}

/* PROXIMAMENTE */
section{
    .seccion{
        background-color: #E3E2DD;
        color: black;
        font-family: "jakartasans-negrita";
        font-size: medium;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        margin-bottom: 0;
        }

        .velas{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2%;
        font-family: "jakartasans-regular";
        font-size: large;
        
        @media screen and (max-width: 480px){
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
            font-family: "jakartasans-regular";
            font-size: medium;
            margin-left: 90px;
        }
                img {
                    width: 500px;
                    height: 500px;
                    padding-bottom: 2%;
                    @media screen and (max-width: 480px) {
                        height: 300px;
                        width: 300px;
                        padding-bottom: 2%;
                    }
                }
            }
    }

/* CATEGORIAS */
.categoria-img{
    width: 100%;
}

.seccion{
    background-color: #E3E2DD;
        color: black;
        font-family: "jakartasans-negrita";
        font-size: medium;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        margin-bottom: 0;
}

.flex-container-categorias{
    padding-top: 5px;
    div{
        display: flex;
        line-height: 175%;
        align-items: center;
        font-family: "jakartasans-regular";
        font-size: large;
        margin-left: 10%;
        margin-right: 10%;
        
        @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        font-size: small;
        }
    }

        .categoria-imagen{
            width: 300px;
            height: 300px;
            padding: 10px;
            @media screen and (max-width: 480px) {
                display: none;
            }    
        }
}



/* HTML/PRODUCTOS */
.titulo{
    padding-top: 5%;
    font-family: "jakartasans-negrita";
    font-size: large;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
}

section{
    .columnas{
        column-count: 3;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        font-family: "jakartasans-regular";
        font-size: medium;
        img{
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 480px){
        .columnas{
            display: block;
            column-count: 1;
        }
    }
}



/* HMTL/CATEGORIAS */
.negrita {
    font-family: "jakartasans-negrita";
    text-align: center;
}


/* HTML/QUIENES SOMOS */
.quienessomos{
    display: flex;
    font-family: "jakartasans-regular";
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
    .quienessomos-img{
        width: 300px;
        height: 300px;
    }

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
        font-family: "jakartasans-regular";
        font-size: small;
        margin-left: 10%;
        margin-right: 10%;
        .quienessomos-img {
            width: 377px;
            height: 377px;
        }
    }
}

.columnas-info{
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 324px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "icon1 icon2"
    "descripcion1 descripcion2";
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    gap: 50px;

    .info-iconos{
        grid-area: icon1;
        display: flex;
        width: 300px;
        height: 300px;
    }
    .info-iconos2{
        grid-area: icon2;
        display: flex;
        width: 300px;
        height: 300px;
    }    
    .iconos-descripcion1{
        grid-area: descripcion1;
    }
    .iconos-descripcion2{
        grid-area: descripcion2;
    }
    h4{
        font-size: medium;
        font-family: "jakartasans-regular";
    }

    @media screen and (max-width: 480px) {
        display: grid;
        justify-content: center;
        font-size: medium;
        font-family: "jakartasans-regular";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "icon1 icon2"
        "descripcion1 descripcion2";
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        gap: 25px;      
        .info-iconos, .info-iconos2{
            display: flex;
            width: 150px;
            height: 150px;  
        }
        .info-iconos{grid-area: icon1;}
        .info-iconos2{grid-area: icon2;}
        .iconos-descripcion1{grid-area: descripcion1;}
        .iconos-descripcion2{grid-area: descripcion2;}
    }
}
.quienessomos-final {
    font-family: "jakartasans-negrita";
    display: flex;
    justify-content: center;
    font-size: larger;
    padding-bottom: 20px;
}

/* CONTACTO */
.contacto{
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    .contacto-left{
        font-family: "jakartasans-regular";
        font-size: medium;
        line-height: 200%;
    }
    .contacto-right{
        margin-left: 10%;
        input{
            width: 300%;
        padding-bottom: 10%;
        }
        }
        p{
            font-family: "jakartasans-regular";
            color: grey;
            font-size: small;
            line-height: 200%;
        }
        .enviar{
            margin-top: 20%;
            font-family: "jakartasans-negrita";
            font-size: large;
            text-align: center;
        }
}
@media screen and (max-width: 480px) {
    .contacto {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-right: 0;
        margin-bottom: 25%;
        .contacto-left {
            font-family: "jakartasans-regular";
            font-size: large;
            padding-top: 10%;
            padding-bottom: 15%;
            margin: 0;
            line-height: 200%;
        }
        .contacto-right{
            margin: 0;
            input {
                width: 430px;
                height: 50px;
                padding-left: 10%;
                padding-bottom: 10%;
            }
            p {
                font-family: "jakartasans-regular";
                color: grey;
                font-size: smaller;
                line-height: 200%;
            }
            .enviar {
                display: block;
                height: 50px;
                margin-top: 10%;
                font-family: "jakartasans-negrita";
                font-size: large;
            }
        }
    }
}



