* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "jakartasans-negrita";
    src: url(font/static/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: "jakartasans-regular";
    src: url(font/static/PlusJakartaSans-Regular.ttf);
}

/* NAVBAR */
.navbar-brand img {
    height: 70px;
}
.navbar {
    font-family: "jakartasans-negrita";
    font-size: medium;
    background-color: #E3E2DD;
}

.nav-item {
    padding-left: 40px;
}
/* INDEX */
section .fondo {
    height: fit-content;
    width: 100%;
}

/* PROXIMAMENTE */
.seccion {
    background-color: #E3E2DD;
    color: black;
    font-family: "jakartasans-negrita";
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0;
}

.velas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
    font-family: "jakartasans-regular";
    font-size: large
}

.velas div img {
    width: 500px;
    height: 500px;
    padding-bottom: 2%;
}

/* CATEGORIAS */
.cat-jardin, .cat-bazar, .cat-iluminacion, .cat-muebles{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.categoria-imagen{
    width: 500px;
    height: 500px;
    padding: 10px;
}


/* FOOTER */
.logos-redes {grid-area: redes;}
.info-footer {grid-area: info;}
.ubicacion-footer{grid-area: ubicacion;}

footer {
    background-color: #E3E2DD;
    font-family: "jakartasans-negrita";
    font-size: medium;
    padding-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr; 
    grid-template-rows: 1fr; 
    gap: 0px 10px;
    grid-template-areas: 
    "redes info ubicacion";
}
.logos-redes{
    display: flex;
    align-content: center;
    gap: 5%;
}
.logos-redes a img {
    width: 40px;
    height: 40px;
}
.info-footer a {
    display: block;
    text-decoration: none;
    color: black;
}

/* PRODUCTOS */
h2 {
    font-family: "jakartasans-negrita";
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.columnas {
    column-count: 3;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family: "jakartasans-regular";
    font-size: large;
}

.columnas img {
    width: 100%;
    height: 100%;
}

.negrita {
    font-family: "jakartasans-negrita";
}

/* CATEGORIAS */
.categoria-img {
    width: 100%;
}

/* QUIENES SOMOS */
.quienessomos-img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.quienessomos {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "jakartasans-regular";
    display: flex
}

.descripcion-quienessomos {
    padding-left: 2%;
    font-size: large;
    line-height: 200%;
}

.columnas-info {
    column-count: 2;
    gap: 5%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.columnas-info img {
    width: 300px;
    height: 300px;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 60px;
}

.columnas-info p {
    font-family: "jakartasans-regular";
    font-size: medium;
    line-height: 200%;
    text-align: justify;
}

h3 {
    font-family: "jakartasans-negrita";
    text-align: center;
    font-size: larger;
    margin-bottom: 5%;
}

/* CONTACTO */

.contacto {
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.contacto-left {
    font-family: "jakartasans-regular";
    font-size: medium;
    line-height: 200%;
}


.contacto-right {
    margin-left: 10%;
}

.contacto-right input {
    width: 500%;
    padding-bottom: 10%;
}

.contacto-right p {
    font-family: "jakartasans-regular";
    color: grey;
    font-size: small;
    line-height: 200%;
}

.enviar {
    margin-top: 20%;
    font-family: "jakartasans-negrita";
    font-size: large;
    text-align: center;
}





