* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "jakartasans-negrita";
    src: url(font/static/PlusJakartaSans-Bold.ttf);
}
@font-face {
    font-family: "jakartasans-regular";
    src: url(font/static/PlusJakartaSans-Regular.ttf);
}
.foto-inicio{width: 100%;}
/* NAVBAR */
.navbar-brand img {
    height: 70px;
}
.navbar {
    font-family: "jakartasans-negrita";
    font-size: medium;
    background-color: #E3E2DD;
}

.nav-item {
    padding-left: 40px;
}
/* INDEX */
section .fondo {
    height: fit-content;
    width: 100%;
}

/* PROXIMAMENTE */
.seccion {
    background-color: #E3E2DD;
    color: black;
    font-family: "jakartasans-negrita";
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0;
}

.velas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
    font-family: "jakartasans-regular";
    font-size: large
}

.velas div img {
    width: 500px;
    height: 500px;
    padding-bottom: 2%;
}

/* CATEGORIAS */
.flex-container-categorias{
    padding-top: 5px;
}
.cat-jardin, .cat-bazar, .cat-iluminacion, .cat-muebles{
    display: flex;
    line-height: 175%;
    align-items: center;
    font-family: "jakartasans-regular";
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
}
.categoria-imagen{
    width: 300px;
    height: 300px;
    padding: 10px;
}

/* FOOTER */
.logos-redes {grid-area: redes;}
.info-footer {grid-area: info;}
.info-footer a:hover{
    color:gray
}

.ubicacion-footer{grid-area: ubicacion;}

footer {
    background-color: #E3E2DD;
    font-family: "jakartasans-negrita";
    font-size: medium;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr; 
    grid-template-rows: 3fr; 
    gap: 0px 10px;
    grid-template-areas: 
    ". . ."
    "redes info ubicacion"
    ". . .";
}
.logos-redes{
    display: flex;
    align-content: center;
    gap: 5%;
}
.logos-redes a img {
    width: 40px;
    height: 40px;
}
.info-footer a {
    display: block;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:480px) {
    /* Home MOBILE*/
    .velas {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        font-family: "jakartasans-regular";
        font-size: medium;
        margin-left: 90px;
    }
    
    .velas div img {
        height: 300px;
        width: 300px;
        padding-bottom: 2%;
    }

    /* CATEGORIAS MOBILE */
    .cat-jardin, .cat-bazar, .cat-iluminacion, .cat-muebles{
    display: flex;
    flex-direction: column;
    font-size: small;
    }
    .categoria-imagen{
        display: none;
    }

    /* FOOTER MOBILE */
    .ubicacion-footer{
        display: none;
    }
    footer{
        padding-top: 10%;
        padding-bottom: 5%;
        text-align: center;
        font-size: small;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "redes"
        "info"
        ".";
    }
    .logos-redes{
        display: flex;
        text-align: center;
        gap: 7%;
    }
}

/* PRODUCTOS */
.titulo {
    padding-top: 5%;
    font-family: "jakartasans-negrita";
    font-size: large;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.columnas {
    column-count: 3;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-family: "jakartasans-regular";
    font-size: medium;
}

.columnas img {
    width: 100%;
    height: 100%;
}

.negrita {
    font-family: "jakartasans-negrita";
}

/* CATEGORIAS */
.categoria-img {
    width: 100%;
}

/* QUIENES SOMOS */
.quienessomos-img {
    width: 300px;
    height: 300px;
}
.quienessomos{
    display: flex;
    font-family: "jakartasans-regular";
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
}
.info-iconos, .info-iconos2{
    display: flex;
    width: 300px;
    height: 300px;
}
.columnas-info{
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 324px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "icon1 icon2"
    "descripcion1 descripcion2";
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    gap: 50px;
}
.info-iconos{
    grid-area: icon1;
}
.info-iconos2{
    grid-area: icon2;
}
.iconos-descripcion1{grid-area: descripcion1;}
.iconos-descripcion2{grid-area: descripcion2;}

h3 {
    font-family: "jakartasans-negrita";
    display: flex;
    justify-content: center;
    font-size: large;
}

/* CONTACTO */
.contacto {
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.contacto-left {
    font-family: "jakartasans-regular";
    font-size: medium;
    line-height: 200%;
}


.contacto-right {
    margin-left: 10%;
}

.contacto-right input {
    width: 300%;
    padding-bottom: 10%;
}

.contacto-right p {
    font-family: "jakartasans-regular";
    color: grey;
    font-size: small;
    line-height: 200%;
}

.enviar {
    margin-top: 20%;
    font-family: "jakartasans-negrita";
    font-size: large;
    text-align: center;
}