/* FOOTER */
footer{
    background-color: #E3E2DD;
    font-family: "jakartasans-negrita";
    font-size: medium;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1.4fr 0.9fr 0.7fr; 
    grid-template-rows: 3fr; 
    gap: 0px 10px;
    grid-template-areas: 
    ". . ."
    "redes info ubicacion"
    ". . .";
    .logos-redes{
        grid-area: redes;
        display: flex;
        align-content: center;
        gap: 5%;
        a{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
    @media screen and (max-width: 700px){
        .logos-redes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        }

    .info-footer{
        grid-area: info;
        a{
            &hover{color: gray;}
            display: block;
            text-decoration: none;
            color: black;
            @media screen and (max-width: 1350px) and (min-width: 700px){
                display: flex;
                justify-content: end;
            }
        }
        
    }

    .ubicacion-footer{
        grid-area: ubicacion;
        @media screen and (max-width: 1350px){
            display: none;
        }
    }

    @media screen and (max-width: 700px) {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
    font-size: small;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "redes" "info" ".";
}   
    @media screen and (max-width: 1350px) and (min-width: 700px){
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    padding-top: 5%;
    padding-bottom: 5%;
    }
}
