.navbar{
    font-family: "jakartasans-negrita";
    font-size: medium;
    background-color: #E3E2DD;
        .nav-item{
            padding-left: 40px;
        }
    
        .navbar-brand{
            img{
                height: 70px;
            }
        }
    }